<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
	<title>SOFTWARE ED</title>
    <link rel="icon" type="image/png" href="img/logo.png"/>
</head>
    <body>
        <main class="dashboard">
            <h1>Dashboard</h1>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>nombre</th>
                        <th>correo</th>
                        <th>Numero</th>
                        <th>Nombre de empresa</th>
                        <th>Mensaje</th>
                    </tr>
                </thead>
                <tbody>
                <% contactos.forEach(function(contacto) { %>
                    <tr>
                        <td>
                            <%= contacto.nombre %>
                        </td>
                        <td>
                            <%= contacto.correo %>
                        </td>
                        <td>
                            <%= contacto.numero %>
                        </td>
                        <td>
                            <%= contacto.nombreempresa %>
                        </td>
                        <td>
                            <%= contacto.mensaje %>
                        </td>
                        
                        <td>
                            <a class="custom-tooltip" href="/contacto/editar/<%= contacto._id %>" data-tooltip="Editar">
                                <img class="imagen-icon" src="/img/editar.png" alt="editar">
                            </a>
                            <form action="/contactos/<%= contacto._id %>" method="POST" style="display: inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </main>
    </body>
</html>